<div id="assignment">
  <div class="heading">
    <h2 class="band-button current expanded">
      <%= section_bug(@assignment) %>
      <%= @assignment.name %>
    </h2>
  </div>

  <div class="content">
    <% @assignment.content_blocks.each do |cb| %>
      <%= render "content_blocks/#{cb.path_name}/show", cb: cb.send(cb.path_name) %>
    <% end %>
  </div>

</div>