<div class="lectures">
  <% @lectures.each do |lecture| %>
    <%= link_to(lecture_path(lecture), class: "band-button #{section_label(lecture)} #{current_record(lecture)}") do %>
      <span class="bug-wrapper">
        <%= section_bug(lecture) %>
      </span>
      <%= lecture.title %>
    <% end %>
  <% end %>
</div>