<div id="lecture">
  <div class="heading">
    <h2 class="band-button current expanded">
      <%= section_bug(@lecture) %>
      <%= @lecture.title %>
    </h2>
  </div>

  <div class="content">
    here we go.
  </div>

</div>