.note-block {
  @extend %inlineblock;
  @extend %c3;

  .body {
    h2 { @extend %regular; @extend %medium-margin-below; }
    @extend %regular;
    background: $rich_black;
    color: $white;
    padding: $gutter;
    min-height: 369px;

    a {
      color: $white;
      &:hover { color: $white; }
    }

    ol, ul {
      list-style: initial;
      margin-left: $gutter;
    }
  }

}