.note-block {
  @extend %inlineblock;
  @extend %c3;

  .body {
    h2 { @extend %regular; @extend %medium-margin-below; }
    @extend %regular;
    background: $yellow;
    color: $black;
    padding: $gutter;
    min-height: 369px;
    border-radius: 4px;

    a {
      color: $black;
      &:hover { color: $blue; }
    }

    ol, ul {
      list-style: initial;
      margin-left: $gutter;
      li { margin-bottom: 1em; }
    }
  }

}