.text-block {
  p {
    margin-bottom: 1.3em;
    &:last-child { margin-bottom: 0; }
  }

  code {
    @extend %inlineblock;
    @extend %mono;
    background: $light_gray;
    border-radius: 3px;
    white-space: pre;
    padding: 5px;
    color: $blue;
  }

  pre {
    & code {
      padding: 0;
      border-radius: initial;
      background: transparent;
    }
    display: block;
    background: $light_gray;
    border-radius: 3px;
    white-space: pre;
    padding: 20px;
    color: $blue;
    margin-bottom: 20px;
  }

  ul {
    list-style: initial;
    margin: 20px 0 0 50px
  }
}