.text-block {
  p {
    margin-bottom: 1.3em;
    &:last-child { margin-bottom: 0; }
  }

  code {
    font-size: 13px;
    background: $white;
    border-radius: 3px;
    font-family: menlo, monospace;
    white-space: pre;
    padding: 3px;
    color: $dark_gray;
  }

  ul {
    list-style: initial;
    margin: 20px 0 0 50px
  }
}