*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
    outline: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  @extend %regular;
  font-family: $sans;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

div, ul {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid $gray;
  &.nounderline { border-bottom: none; }
  &.current { border-bottom: 1px solid $gray; }
  &:hover { color: $default; }
}

%nounderline { border: none; }

p:last-child { margin-bottom: 0; }
b, strong { font-weight: 400; }

ul {
  list-style-position: outside;
}


#wrapper {
  padding: 15px 15px $large_margin*2 15px;
}

#content {
  @extend %c6;
  @extend %nogutters;
}

