.band-button {
  vertical-align: middle;
  @extend %large;
  border-bottom: 1px solid $gray;
  position: relative;
  padding: $gutter $gutter 11px $gutter;
  &:last-child { margin-bottom: 0; }
  display: block;
  &:hover {
    @include transition(all, 300ms, ease);
    color: $black;
    background: $yellow;
  }

  &.current {
    background: transparentize($yellow, .35);
    &:hover { background: $yellow; }
  }
}

.bug-wrapper {
  @extend %inlineblock;
  min-width: 50px;
  text-align: right;
  margin-right: $gutter;
}
.bug {
  @extend %inlineblock;
  border: 1px solid $black;
  position: relative;
  background: $black;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
  @extend %tiny;
  padding: 5px 5px 4px 5px;
  border-radius: 2px;
  top: -5px;
  &.off {
    background: transparent;
    border: 1px solid;
    color: $black;
  }
}

.disabled {
  cursor: default !important;
}
