<div class="course-info">
  Core Interaction<br />
  2014
  <div class="version-number">
    <%= image_tag('crab.gif') %>
  </div>
</div>

<div class="students">
  <ul>
    <% @course.students.by_name.each do |student| %>
      <li><%= link_to(student.full_name, student.url, target: '_blank') %></li>
    <% end %>
  </ul>
</div>