.lectures {
  @extend %c6;
  margin-top: 70px;
}

#lecture {
  .heading {
    text-align: center;
    @extend %c6;
    @extend %large-margin-below;
    h2 {
      line-height: 1em;
      padding: 15px;
    }
  }

  .content {
    @extend %whitespacefix;
  }
}