#readings {
  @extend %whitespacefix;

  .reading {
    vertical-align: bottom;
    @extend %c2;
    @extend %inlineblock;
    @extend %regular;
  }

  .reading-button {
    display: block;
    border: 1px solid $gray;
    padding: $gutter;
    position: relative;
    margin-bottom: $gutters;
    border-radius: 4px;
    @include transition(all, 300ms, ease);
    &:hover {
      color: $blue;
      background: $yellow;
    }
  }

}