#footer {
  padding: $gutter $gutter $large_margin*2 $gutter;
  background: $light_gray;

  #footer-inner {
    @extend %c6;
    @extend %nogutters;
    @extend %whitespacefix;

    .course-info {
      @extend %c2;
      @extend %inlineblock;
      @extend %regular;
    }

    .students {
      @extend %c4;
      @extend %inlineblock;
      @extend %regular;
    }
  }

  .git-reminder {
    margin-top: 10px;
    @extend %mono;
    color: $blue;
  }

  .version-number {
    @extend %tiny-margin-above;
    color: $gray;
    @extend %small;
  }
}