<div id="resources">
  <ul>
    <li><h2>Milestones</h2></li>
    <li><span class="date">Mar 6...</span> Project 1 Presentations</li>
    <li><span class="date">Mar 13...</span> Midterm Evaluations</li>
    <li><span class="date">Apr 10...</span> Project 2 Presentations</li>
    <li><span class="date">May 15...</span> Project 3 Presentations</li>
  </ul>

  <ul>
    <li><h2>Workflow</h2></li>
    <li><a href="http://github.com/" target="_blank">GitHub</a></li>
    <li><a href="http://c9.io" target="_blank">Cloud9</a></li>
  </ul>

  <ul>
    <li><h2>Programming</h2></li>
    <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
    <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
    <li><a href="http://discover-devtools.codeschool.com/" target="_blank">Discover Devtools</a></li>
    <li><a href="http://learnlayout.com/" target="_blank">CSS Layout</a></li>
    <li><a href="http://jsbin.com/" target="_blank">JSBin</a></li>
    <li><a href="http://copypastecharacter.com/" target="_blank">Copy Paste Character</a></li>
  </ul>

  <ul>
    <li><h2>Miscellaneous</h2></li>
    <li><%= link_to('Starter Package', image_path('starter-package.zip'), target: '_blank') %></li>
    <li><a href="http://www.google.com/fonts" target="_blank">Google Web Fonts</a></li>
    <li><a href="http://www.fontsquirrel.com/tools/webfont-generator" target="_blank">Font Squirrel Web Font Generator</a></li>
  </ul>

  <ul>
    <li><h2>Syllabi</h2></li>
    <li><%= link_to('Studio', @course.studio_syllabus.attachment_url, target: '_blank') if @course.studio_syllabus.attachment_url.present? %></li>
    <li><%= link_to('Lab', @course.lab_syllabus.attachment_url, target: '_blank') if @course.lab_syllabus.attachment_url.present? %></li>
  </ul>

</div>
