<div class="content-block <%= css_class(cb) %>" id="<%= css_id(cb) %>">
  <iframe type="text/html" width="708" height="500" src="http://www.youtube.com/embed/<%= cb.video_id %>" frameborder="0" allowfullscreen></iframe>
  <div class="caption">
    <%= f(cb.caption) %>
  </div>
</div>